html, body {
	margin: 10px 0px;
	padding: 0px;
	background: #CCC;
	
	font-family: verdana;
	font-size: 1em;
}

h1 {
	font-family: verdana;
	font-size: 1.75em;
}

a:link, a:visited {
	text-decoration: none;
	color: #2985DE;
}

a:hover, a:active {
	text-decoration: underline;
	color: #2985DE;
}

#wrapper {
	position: relative;
	width: 800px;
	margin: 0px auto;
	padding: 25px;
	background: #FFF;
	border: 1px solid #000;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

#flash_error {
	width: 500px;
	text-align: center;
	
	border: 2px solid #FF0000;
	background: #FFF0F0;

	padding: 15px;
	font-family: verdana;
}

#flash_notice {
	width: 500px;
	text-align: center;
	
	border: 2px solid #00FF00;
	background: #F0FFF0;

	padding: 15px;
	font-family: verdana;
}

#header {
	border-bottom: 1px dotted #000;
	padding-bottom: 20px;
	margin-bottom: 15px;
}

#header .title {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}