<ul>
<% unless @groups.size == 0 %>
	<% @groups.each do |group| %>
	<li><%= link_to_remote group.name, :update => "group_detail",
				:url => {:action => 'update_group_detail', :id => group.id},
				:html => {:class => (group.on_probation) ? 'on_probation' : ((group.active) ? 'active' : 'inactive')} %></li>
	<% end %>
<% else %>
	<li><em>No Groups</em></li>
<% end %>
</ul>