<div id="group_name"><%= update_group_detail.name %></div>
<div id="group_status"><em><b>Status:</b> <%= (update_group_detail.active) ? 'Active' : 'Inactive' %></em></div>
<p><b>Leader(s):</b> <%= (update_group_detail.leader_name.nil?) ? "None" : update_group_detail.leader_name %></p>
<p><b>Description</b><br/>
<%= update_group_detail.description %></p>