<h3><%= update_group_detail.name %></h3>
<p><b>Leader(s):</b> <%= (update_group_detail.leader_name.nil?) ? "None" : update_group_detail.leader_name %>
<p><b>Description</b><br/>
<%= update_group_detail.description %></p>