<%= form_tag :method => "POST", :action => 'login' %>
<table cellpadding=5 cellspacing=5>
	<tr>
		<th align="right"><label for="username">Username:</label></th>
		<td><input type="text" name="username" size="20"></input></td>
	</tr><tr>
		<th align="right"><label for="password">Password:</label></th>
		<td><input type="password" name="password" size="20"></input></td>
	</tr><tr>
		<td colspan=2 align="center"><%= submit_tag "Log In" %></td>
	</tr>
</table>
</form>