<%= form_tag :method => "POST", :action => 'login' %>
<label for="username">Username:</label><br/>
<input type="text" name="username" size="20"></input><br/>
<br/>
<label for="password">Password:</label><br/>
<input type="password" name="password" size="20"></input><br/>
<%= submit_tag "Log In" %>
</form>