<html>
<head>
<title>GCSA Club Database: Login</title>
<%= stylesheet_link_tag "master" %>
</head>

<body>
<div id="wrapper">
	<div id="header">
		<div class="title">gcsa-groups.gordon.edu</div>	
	</div>
	
	<div id="body" align="center">
		<% if flash[:notice] %>
		<div id="flash"><%= flash[:notice] %></div>
		<% end %>
		<h1>Login</h1>
		<%= yield :layout %>
	</div>
</div>
</body>
</html>