<html>
<head>
<title>GCSA-Groups.Gordon.Edu: Login</title>
<%= stylesheet_link_tag "master" %>
</head>

<body>
<div id="wrapper">
	<div id="header">
		<div class="title">gcsa-groups.gordon.edu</div>	
	</div>
	
	<div id="body" align="center">
		<% if flash[:notice] %>
		<div align="center"><div id="flash_notice"><%= flash[:notice] %></div></div>
		<% end %>
		<% if flash[:error] %>
		<div align="center"><div id="flash_error"><%= flash[:error] %></div></div>
		<% end %>
		<h1>Login</h1>
		<%= yield :layout %>
	</div>
</div>
</body>
</html>